{% extends "layout2.html" %}
{% block title %}Pocket Exchange{% endblock %}
{% block page %}Pocket Exchange{% endblock %}

{{ super() }}

{% block content %}

<style>


    body{
        background-color: #0040c1;
        font-family: 'Frank Ruhl Libre', serif;
  font-weight:500;
    }
</style>


<div class="container">


<br>
<div class="card center">
    <div class="card-action  red accent-4">
        <div class="row">
        <div class="col l11 s9 m9">
        <h5 class="white-text"> Add a New Item </div>
            <div class="col l1 s3 m2">
            <img src="/static/images/categories/plus.png" class='responsive-img'></h5>
        </div>
    </div>
    </div>
    <div class="card-content white">

    <div class="row">

        <div class="col l2 offset-l5 s4 offset-s4 m2 offset-m5">

    
</div>

</div>





    </div>
</div>







</div>


{% endblock %}