{% extends "layout2.html" %}
{% block title %}Pocket Exchange{% endblock %}
{% block page %}Pocket Exchange{% endblock %}

{{ super() }}

{% block content %}

<style>

body{
    background-color: #0040c1;

}

    h5{
        
        font-family: 'Frank Ruhl Libre', serif;
  font-weight:500;
    }
</style>


<div class="container">


<br>
<div class="card center">
    <div class="card-action  red accent-4">
        <div class="row">
        <div class="col l11 s9 m9">
        <h5 class="white-text"> Add a New Item </div>
            <div class="col l1 s3 m2">
            <img src="/static/images/categories/plus.png" class='responsive-img'></h5>
        </div>
    </div>
    </div>
    <div class="card-content white">

    <div class="row">

        <div class="col l2 offset-l5 s4 offset-s4 m2 offset-m5">

    
</div>

</div>


<div class="row">  <!--make a next row-->

<form>  <!--inside the form-->
 
    <div class="row">
    <div class="col l8 offset-l2 s12">
    <div class="input-field">
        <input required id="name" type="text" class="validate" name="name">
        <label for="name">Item Name</label>
      </div>
    </div>
</div>



<div class="row">
    <div class="input-field col l8 offset-l2 s12">
      <select name="category" required>
        <option value="" disabled selected>Choose your Category</option>
        <option value="Books">Books</option>
        <option value="Stationery">Stationery</option>
        <option value="Clothing">Clothing</option>
        <option value="Home Appliances">Home Appliances</option>
        <option value="Electronics">Electronics</option>
        <option value="Tools">Tools</option>
        <option value="Cosmetics">Cosmetics</option>
        <option value="Furniture">Furniture</option>
        <option value="Miscellaneous">Miscellaneous</option>
      </select>
      <label>Category</label>
    </div>
  </div>




    <div class="row">
    <div class="input-field col l8 offset-l2 s12">
        <textarea name="description" required id="description" class="materialize-textarea"></textarea>
        <label for="description">Description</label>
      </div>
      </div>
      
      

      <div class="row">
      <div class="file-field input-field col l8 offset-l2 s12">
        <div class="btn red accent-4">
          <span>File</span>
          <input name="image" required type="file" multiple>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="Upload your item image">
        </div>
      </div>
    </div>


      <div class="row">
      <div class="input-field col l8 offset-l2 s12" style="margin-bottom:30px;">
        <textarea name="rules_of_use" required id="rules_of_use" class="materialize-textarea"></textarea>
        <label for="rules_of_use">Rules of Use</label>
      </div>
    </div>
      




     
        <div class="row">
            <div class="col l4 offset-l2 s12">
        <label for="time">Borrow Time Period for Item (between 1 and 200):</label>
        <input style="margin-top:3px" name="time_number" required type="number"  min="1" max="200">
        
        </div>

        <div class="col l4 s12">
            <p>
                <label> Units
                  <input class="with-gap" value="days" name="time_units" type="radio" checked />
                  <span>Days</span>
                </label>
              

              
                <label>
                  <input class="with-gap" value="months" name="time_units" type="radio"  />
                  <span>Months</span>
                </label>
              

              
                <label>
                  <input class="with-gap" value="years" name="time_units" type="radio"  />
                  <span>Years</span>
                </label>
              </p>
        </div>
      
    </div>


    <div class="row">
        <div class="input-field col l8 offset-l2 s12" style="margin-top:25px;">
          <select required name="condition" required>
            <option value="" disabled selected>Select your item's condition</option>
            <option value="Poor">Poor</option>
            <option value="Fair">Fair</option>
            <option value="Good">Good</option>
            <option value="Very Good">Very Good</option>
            <option value="Excellent">Excellent</option>
          </select>
          <label>Condition</label>
        </div>
      </div>



      <div class="row">
       
        <div class="col l8 offset-l2 s12 input-field">
            
                <input id="meetup_location" type="text" class="validate">
                <label for="meetup_location">Preferred Meetup Location</label>
              
        </div>

      </div>

      <div class="row">

      <div class="col l3 offset-l4  s8 offset-s1 m5 offset-m3" style="margin-right:30px">
      <img src="/static/images/upload.svg" class="responsive-img">
    </div>
  </div>


    

      <button style="width:150px;" class="btn waves-effect waves-light red accent-4" name="action" type="submit">
        Submit</button>

      
       
</form>

<br>


<a style="width:150px" class="green darken-1 waves-effect waves-light btn"><i class="material-icons left">arrow_back</i>Return</a>





</div>




    </div>  <!--for white card content-->
</div>      <!--for container-->







</div>

<script>document.addEventListener('DOMContentLoaded', function() {
    var sel = document.querySelectorAll('select');
    M.FormSelect.init(sel);
  });
  
  </script>


{% endblock %}