{% extends "layout2.html" %}
{% block title %}Pocket Exchange{% endblock %}
{% block page %}Pocket Exchange{% endblock %}

{{ super() }}

{% block content %}

<style>
body{
    background-color: #0040c1;
}

h4{
  font-family: 'Frank Ruhl Libre', serif;
  font-weight:400;

}

</style>

<div class="container">

    
    <h4 class="center white-text">Guidelines</h4><br>

<div class="row">
<div class="col s2 offset-s5">
<img src="/static/images/home.png" class="responsive-img">
</div>
</div>


<ul class="collapsible" style="margin-top:50px">
    <li>
      <div class="collapsible-header">
        <h6><b>How do I find an item that is available for borrowing?</b></h6>
    </div>
      <div class="collapsible-body white">
        <span>To find the list of items that are available, you can go to the All Items Page.
            From there, you can either look for an item by category, by selecting the 
            category option, or use the search bar to search for a specific item.</span>
    </div>
    </li>
</ul>



<ul class="collapsible" style="margin-top:50px">
    <li>
      <div class="collapsible-header">
        <h6><b>How do I borrow an item?</b></h6>
    </div>
      <div class="collapsible-body white">
        <span>In order to borrow an item, you need to locate the item that you would like to 
            borrow using the methods described above. After locating the item, you can simply use the
            'Make a Request' option, and enter your reason for requesting it, as well as a meetup location.
        </span>
    </div>
    </li>
</ul>



<ul class="collapsible" style="margin-top:50px">
    <li>
      <div class="collapsible-header">
        <h6><b>How do I keep track of my borrow requests?</b></h6>
    </div>
      <div class="collapsible-body white">
        <span>You can keep track of the status of your borrow requests by viewing the My Items Page > My Borrow Requests.
            From here, you will be able to see the current state of all of your requests for offers.
            If your offer has been approved, your offer status on this page will change from 'Unapproved to either Temporarily, or 
            Permanently Approved'.
        </span>
    </div>
    </li>
</ul>


<ul class="collapsible" style="margin-top:50px">
    <li>
      <div class="collapsible-header">
        <h6><b>What are the states that my request can be in?</b></h6>
    </div>
      <div class="collapsible-body white">
        <span>Your request can be: Unapproved, Temporarily Approved, and Permanently Approved.
        </span>
    </div>
    </li>
</ul>



<ul class="collapsible" style="margin-top:50px">
    <li>
      <div class="collapsible-header">
        <h6><b>How will I know if someone else has been approved for an item that I also requested?</b></h6>
    </div>
      <div class="collapsible-body white">
        <span>By clicking on the bell icon, you can access your Notifications section. Here, you can receive either report 
            notifications, or item notifications. If someone else has been approved for an item that you also requested,
            you will receive a notification, saying that this item is no longer available.
        </span>
    </div>
    </li>
</ul>


<ul class="collapsible" style="margin-top:50px">
    <li>
      <div class="collapsible-header">
        <h6><b>How do I lend an item?</b></h6>
    </div>
      <div class="collapsible-body white">
        <span>To lend an item, you firstly have to add a new item to the app. To do so, simply click
            on the 'Add New Item' section of the navigation menu. You will be prompted to enter various details 
            about your item. Click submit to finish the process.
            Now, after adding the item, you can keep track of all the requests which this item has by clicking the 
            View Request List button. From here, you can either view the person's profile, or approve their request.
        </span>
    </div>
    </li>
</ul>



<ul class="collapsible" style="margin-top:50px">
    <li>
      <div class="collapsible-header">
        <h6><b>How do I keep track of my lent items?</b></h6>
    </div>
      <div class="collapsible-body white">
        <span>You can keep track of your lent items by viewing the My Items > My Lending Offers Page.
            You can either approve a request here, or on your All Items Page. Note however, that once 
            you temporarily approve a request for your lending offer, the offer will no longer show up on your All Items Page.
            Instead, you will only see it on your personalized My Items Page, where you can choose
            to either cancel your approved request, or permanently approve it.
        </span>
    </div>
    </li>
</ul>


<ul class="collapsible" style="margin-top:50px">
    <li>
      <div class="collapsible-header">
        <h6><b>What do I do after I grant permanent approval to a user?</b></h6>
    </div>
      <div class="collapsible-body white">
        <span>Once you grant permanent approval to a user, you can no longer cancel the request at 
            this point. Now, you have to enter a start date, and end date, which both you
            and the borrower have agreed upon at this point. Now, both you and the borrower, will
            be able to see the number of days left for the item to be returned.
        </span>
    </div>
    </li>
</ul>


<ul class="collapsible" style="margin-top:50px">
    <li>
      <div class="collapsible-header">
        <h6><b>How is the borrow-lending transaction completed?</b></h6>
    </div>
      <div class="collapsible-body white">
        <span>Once a user has been granted permanent approval, you will see the time remaining 
            for them to return the item. (Also note that the system will tell
            you if an item is currently overdue, and the number of days that it is overdue by as well.)
             Once they have returned it, you, as the lender, can click the
            'Item Successfully Returned Button', and the transaction will be complete. At this point,
            you can visit your borrower's profile and give them a rating based on your experience with them, 
            and then either restart your offer, or delete it.
        </span>
    </div>
    </li>
</ul>


<ul class="collapsible" style="margin-top:50px">
    <li>
      <div class="collapsible-header">
        <h6><b>What will restarting my offer do?</b></h6>
    </div>
      <div class="collapsible-body white">
        <span>Restarting your offer will remove any associated requests from it, and allow it to
            reappear on the All Items Page, so that different people now have a chance to borrow it as well.
        </span>
    </div>
    </li>
</ul>


<ul class="collapsible" style="margin-top:50px">
    <li>
      <div class="collapsible-header">
        <h6><b>What safety and security measures does this app have in place?</b></h6>
    </div>
      <div class="collapsible-body white">
        <span>If you have had a negative experience with another user, you can visit their profile and
            report them. If a user has received 3 reports, their account will be permanently deleted. 
            In addition to this, you can also give this user a poor rating, or add a comment to their 
            profile page, to reflect your experience with them.
            Generally, we also advise users to always communicate with your potential borrowers and lenders
            via their mobile number which is provided, or additionally use video conferencing software to have
            online meetings before meeting them face-to-face. We also encourage you to have meetups at public places
            with a group of people if possible.
        </span>
    </div>
    </li>
</ul>



    </div> <!--end of container-->



<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    M.Collapsible.init(elems);
  });
</script>

{% endblock %}