<!doctype html>
<html>
  <head>
  
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
     <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prata&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Pocket Exchange</title>

  </head>

  <style>

    @media screen and (max-width:600px) {
      #logo{
        font-size:20px;
      }

      #wow{
        font-size:35px;
      }

      #cloud{
        margin-top:20px;
      }
      
      #tree2{
        margin-top:-20px;
      }
      

      
    }

    @media screen and (min-width:1200px){
        #wow{
            margin-top:-30px;
            
        }

        #cloud{
            margin-top:30px;
        }
    }

    @media screen and (min-width:601px){

        #cloud{
            margin-top:20px;
        }
    }

    body{
      background-color: #43a047;
    }

    

  </style>



  <body>
    <nav class="#43a047 green darken-1">
      <div class="nav-wrapper">
        <a href="#!" id="logo" class="brand-logo center">Pocket Exchange</a>
        <div class="nav-wrapper">
            <ul id="nav-mobile" class="left">
                <li><a href="/">Home</a></li>
                <li><a href="/users">Users Jinja</a></li>
                <li><a href="/static/users">Users JS</a></li>
            </ul>
        </div>
      </div>
    </nav>
    
    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <nav class="white black-text" style="padding: 10px">
        <div class="nav-wrapper">
            <ul class="flashes">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
        </div>
      </nav>
      {% endif %}
    {% endwith %}

    <div id="content">  <!--main div-->

        <div class="row" style="background-color:#0C49CF; height:65vh">  <!--blue section-->

            <div class="row">

            <div class="col s4 m3 l2">
        
            <img class="responsive-img" src="/static/images/welcome/cloud1.png">
        
        </div>


        <div class="col s4 m3 l2 offset-l8 offset-m6 offset-s4">

            <img id="cloud" class="responsive-img" src="/static/images/welcome/cloud2.png">
        </div>



        <div class="col s12 m8 l6 offset-l1 offset-m2 ">
            <h2 class="center" id="wow" style="font-family:'Prata', serif; color:white;
            text-shadow:2px 2px black;">Pocket Exchange</h2>
        </div>
        

        

    </div> <!--end row-->



    <div class="row" style="margin-top:-40px;"> <!--make second row-->

    <div class="col s8 offset-s2 l4 offset-l4 m5 offset-m3" style="margin-top:-20px;">
   
    <img class="responsive-img" src="/static/images/welcome/hands.png">
</div>





    </div> <!--end of second row-->


    


        </div>



        <div class="row">  <!--beginning of green section-->

        <div class="col l4 s6 m4">
          
        <img class="responsive-img" src="/static/images/welcome/tree1.svg" style="margin-top:-300px">


        </div>


        <div class="col l4 s6 m4 offset-l4 offset-s6 offset-m4" id="tree2">
          
          <img class="responsive-img" src="/static/images/welcome/tree2.svg" style="margin-top:-300px">
  
  
          </div>



        </div>  <!--end of green section-->









    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
