{% extends "layout.html" %}
{% block title %}Pocket Exchange{% endblock %}
{% block page %}Pocket Exchange{% endblock %}

{{ super() }}

{% block content %}

{% with messages = get_flashed_messages() %}
      {% if messages %}
      <nav class="white black-text" style="padding: 10px">
        <div class="nav-wrapper">
            <ul class="flashes">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
        </div>
      </nav>
      {% endif %}
    {% endwith %}

<style>
	body {font-family: 'Times New Roman', Times, serif;}
	form {border: 3px solid #f1f1f1;}
	
	input[type=text], input[type=password] {
	  width: 100%;
	  padding: 12px 20px;
	  margin: 8px 0;
	  display: inline-block;
	  border: 1px solid #ccc;
	  box-sizing: border-box;
	}
	
	button {
	  background-color: #07a020;
	  color: white;
	  padding: 14px 20px;
	  margin: 8px 0;
	  border: none;
	  cursor: pointer;
	  width: 100%;
	}
	
	button:hover {
	  opacity: 0.8;
	}
	
	.imgcontainer {
	  text-align: center;
	  margin: 24px 0 12px 0;
	}
	
	img.avatar {
	  width: 40%;
	  border-radius: 50%;
	}
	
	.container {
	  padding: 16px;
	}
</style>

	<body>
		<h2>Pocket Exchange Login</h2>
		
		<form action="/login" method="post">
		  <div class="imgcontainer">
		    <img class="responsive-img" id="login" src="/static/images/Logo2.png">
		  </div>
		
		  <div class="container">
		    <label for="uname"><b>Username</b></label>
		    <input type="text" id="uname" placeholder="Enter Username" name="username" required>
		
		    <label for="psw"><b>Password</b></label>
		    <input type="password" id="psw" placeholder="Enter Password" name="password" required>
		        
		    <button type="submit">Login</button>
		  </div>
		</form>
	</body>

{% endblock %}