{% extends "layout2.html" %}
{% block title %}Pocket Exchange{% endblock %}
{% block page %}Pocket Exchange{% endblock %}

{{ super() }}

{% block content %}



<head>
    <title>Borrow Request</title>
    <!-- Materialize CSS stylesheets and scripts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body> 
    <div class="container">
      <h4 class="center">My Borrow Requests</h4><br>
      {% if requests %}
      {% for item in requests %}
        <div class="card" style="margin-bottom:50px">
          <div class="card-action green white-text"> 
            {{ item.id }}.
          </div>
          <div class="row">
            <div class="col s4">
          <div class="card-image">
            <img style="padding:10px" class="responsive-img" src="{{ item.lendingOffer.imageURL }}">
          </div>
        </div>

        <div class="col s8">
          <div class="card-content">
            <span class="card-title"><b>Item Name:</b> {{ item.lendingOffer.item }}</span>
            <span class="card-title"><b>Offered by:</b> {{ item.lendingOffer.user.username }}</span>
            {% if item.tempApproval == True and item.Status==False %}
              <span class="card-title"><b>Status:</b> Temporarily Approved</span>
            {% elif item.tempApproval == True and item.Status==True %}
              <span class="card-title"><b>Status:</b> Permanently approved</span>
            {% else %}
            <span class="card-title"><b>Status:</b> Unapproved</span>
            {% endif %}

            {% if item.tempApproval==True and item.Status==True %}
              <span class="card-title"><b>Date to be returned:</b> {{ item.lendingOffer.returnDate }}</span>
              <span class="card-title"><b>Days left:</b> {{ item.lendingOffer.borrowingDays }}</span>
              {% endif %}

            {% if item.lendingOffer.isReturned == True %}
              <span class="card-title"></b> You have returned this item successfully!</span></b>

              <div class="card-action">
                <form action='/DeleteRequest/{{ item.id }}' method="GET">
                  <button class="btn waves-effect waves-light" type="submit" name="action">Delete Request</button>
                </form>
              </div>
              
            {% endif %}
          </div> <!--ending card content-->
        
            
        </div> <!--ending col s8-->
      
    </div> <!--end of row-->
    </div> <!--end of card-->
    {% endfor %}
    {% endif %}

  </div>  <!--end of container-->
  </body>


{% endblock %}