{% extends "layout2.html" %}
{% block title %}Pocket Exchange{% endblock %}
{% block page %}Pocket Exchange{% endblock %}

{{ super() }}

{% block content %}

<style>
  body{
    background-color: #0040c1;
}

h4{
  font-family: 'Frank Ruhl Libre', serif;
  font-weight:400;

}
</style>



<head>
    <title>Borrow Request</title>
    <!-- Materialize CSS stylesheets and scripts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body> 
    <div class="container">
      <h4 class="center white-text">My Borrow Requests</h4><br>
      {% if requests %}
      {% for item in requests %}
        <div class="card" style="margin-bottom:50px">
          <div class="card-action green white-text"> 
            {{ item.id }}.
          </div>
          <div class="row">
            <div class="col l4 m8 offset-m2 s10 offset-s1">
          <div class="card-image">
            <img style="padding:10px" class="responsive-img" src="{{ item.lendingOffer.imageURL }}">
          </div>
        </div>

        <div class="col l8 m12 s12">
          <div class="card-content">
            <span class="card-title"><b>Item Name:</b> {{ item.lendingOffer.item }}</span>
            <span class="card-title"><b>Offered by:</b> {{ item.lendingOffer.user.username }}</span>
            {% if item.tempApproval == True and item.Status==False %}
              <span class="card-title"><b>Status:</b> Temporarily Approved</span>
            {% elif item.tempApproval == True and item.Status==True %}
              <span class="card-title"><b>Status:</b> Permanently approved</span>
            {% else %}
            <span class="card-title"><b>Status:</b> Unapproved</span>
            {% endif %}

            {% if item.tempApproval==True and item.Status==True and item.lendingOffer.isReturned==False %}
              <span class="card-title"><b>Date to be returned:</b> {{ item.lendingOffer.returnDate }}</span>
              <span class="card-title"><b>Days left:</b> {{ item.lendingOffer.borrowingDays }}</span>

              {% if item.lendingOffer.borrowingDays<=-1 %}
            <span class="card-title red-text text-accent-4"><b>This item is {{ item.lendingOffer.borrowingDays*-1 }} days overdue!</b></span>
            {% endif %}


              {% endif %}

            {% if item.lendingOffer.isReturned == True %}
            <br>
              <span class="card-title green-text text-darken-3"><b> You have successfully returned this item!</span></b>

              
              
            {% endif %}

            <div class="card-action" style="padding-left:0px">

              



              
                <div class="row" style="margin-bottom:-6px; margin-top:10px">

                  
                  <div class="col s6">
                <form action="/UserProfilePage/{{ item.lendingOffer.lenderID }}" methods="GET">
                  <button type="submit" class="waves-effect waves-light btn green darken-2" style="margin-bottom:30px;"><i class="material-icons right">person</i>Visit Profile</button>
                </form>
              </div>
              
                  <div class="col s6">
                  <form action='/DeleteRequest/{{ item.id }}' method="GET">
                <button class="btn waves-effect waves-light" type="submit" name="action">Delete Request</button>
              </form>
            </div>
              </div>
              
            </div>

            
          </div> <!--ending card content-->
        
            
        </div> <!--ending col s8-->
      
    </div> <!--end of row-->
    </div> <!--end of card-->
    {% endfor %}
    {% endif %}

  </div>  <!--end of container-->
  </body>


{% endblock %}