{% extends "layout2.html" %}
{% block title %}Pocket Exchange{% endblock %}
{% block page %}Pocket Exchange{% endblock %}

{{ super() }}

{% block content %}

<style>
    .card{
        border-radius: 5px;
    }

    h4, h5{
  font-family: 'Frank Ruhl Libre', serif;
  font-weight:500;
}

body{
    background-color: #0040c1;
}



</style>


<div class="container">


<div class="row" style="margin-top:30px;">


    <h4 class="center white-text">My Items</h4>
    
    <div class="row">
    <div class="col l2 offset-l5 s4 offset-s4 m2 offset-m5">
    <img src="/static/images/shopping-bag (1).png" class="responsive-img">
    </div>
</div>


    <div class="col l4 offset-l1 s6 m5">
        <div class="card z-depth-2 hoverable">
            <div class="card-image" style="padding:30px; background-color: #27AE60;">
                <img src="/static/images/request.png" class="responsive-img">
            </div>
            <div class="card-content center">
            <h5>My Borrow Requests</h5>
            <div class="card-action center">
                <div class="center row" style="margin-bottom:0px">
            <a a href='/myBorrowRequests' class="waves-effect waves-light btn">Select</a>
        </div>
        </div>
        </div>
        </div>
        </div>

        <div class="col l4 offset-l2 s6 m5 offset-m2">
            <div class="card z-depth-2 hoverable">
                <div class="card-image" style="padding:30px; background-color: #27AE60; ">
                    <img src="/static/images/borrow2.png" class="responsive-img" >
                </div>
                <div class="card-content center">
                <h5>My Lending Offers</h5>
                <div class="card-action">
                    <div class="center row" style="margin-bottom:0px">
                    <a href='/myLendingOffers' class="waves-effect waves-light btn">Select</a>
                </div>
                </div>
            </div>
            </div>
            </div>
</div>



</div> <!--end of container-->



{% endblock %}