{% extends "layout2.html" %}
{% block title %}Pocket Exchange{% endblock %}
{% block page %}Pocket Exchange{% endblock %}

{{ super() }}

{% block content %}

<style>
    body{
    background-color: #0040c1;
}

h4{
  font-family: 'Frank Ruhl Libre', serif;
  font-weight:400;

}

</style>

<div class="container">

<h4 class="center white-text" style="margin-top:30px"> My Lending Offers </h4>

<div class="row">
<div class="col s4 offset-s5">
<img src="/static/images/box.png" style="height:20vh;margin-top:15px"> </div></div>

<!--start of offers will be displayed here-->




<div class="row">
    <div class="col l12 s12">
  
      {% if offers %}
  
      {% for offer in offers %}
      <div class="card" style="margin-bottom:90px;">
      <div class="card-action white-text" style="background-color:#66bb6a">
        {{offer.id}}.
      </div>
  
      <div class="card-content white">
        <!--main content will go in here-->
        <div class="row">
        <div class="col l4 s12">
          <div class="card-image">
            {% if offer.imageURL==None %}
            <img src="/static/images/no-image.svg" class="responsive-img">
            {% else %}
          <img src="{{ offer.imageURL }}" class="responsive-img">
            {% endif %}
        </div>
        </div>
  
        <div class="col l8 s12" style="color:black">
          <h6><b>Name:</b> {{offer.item}}</h6>
          <h6><b>Offered by:</b> {{offer.user.username}}</h6>
          <h6><b>Description:</b> {{offer.itemDescription}}</h6>
          <h6><b>Category:</b> {{offer.category}}</h6>
          <h6><b>Rules of Use:</b> {{offer.RulesOfUse}}</h6>
          <h6><b>Condition:</b> {{offer.condition}}</h6>
          <h6><b>Contact Number:</b> {{offer.user.phoneNumber}}</h6>
          <h6><b>City Address:</b> {{offer.user.city}}</h6>
          <h6><b>Preferred Meetup Location:</b> {{offer.preferedLocation}}</h6>
  
  
        </div>
      </div>  <!--end of first row-->
  
      <!-- collapsible items will go here now. The request list first, then the make a request
      section after-->
  
      <ul class="collapsible black-text">
        {% if approvedRequest==None %}
        <li>
          <div class="collapsible-header white-text" style="background-color: #0040c1;"><i class="material-icons">search</i>View Request List</div>
          <div class="collapsible-body blue lighten-3">
      
            {% for value in offer.lendingRequests %}
            <!--start of card item-->
            <div class="card" style="margin-bottom:50px;">
              
  
            <div class="row" style="padding:10px;">
              <div class="col l3">
                <h6><b>Request ID: </b> {{ value.id }}</h6>
              </div>
  
              <div class="col l3">
                <h6><b>Username:</b> {{ value.user.username }}</h6>
              </div>
  
              <div class="col l5">
                <h6><b>Contact Numer:</b> {{ value.user.phoneNumber }}</h6>
              </div>
            
  
            <div class="col l6">
              <h6><b>City Address:</b> {{ value.user.city }}</h6>
            </div>
          
  
          <div class="col l6">
            <h6><b>Preferred Meetup Location:</b> {{ value.preferedLocation }}</h6>
          </div>
  
          <div class="col l12">
            <h6><b>Reason for use:</b> {{ value.reasonForUse }}</h6>
          </div>
        </div>
  
        <div class="row" style="padding:10px;">
  
          <div class="col l3">
            <form action="/UserProfilePage/{{ value.borrowerID }}" methods="GET">
        <button type="submit" class="waves-effect waves-light btn green darken-2" style="margin-bottom:30px;"><i class="material-icons right">person</i>Visit Profile</button>
      </form>
      </div>
  
      
        <div class="col l3">
          <form action="/GrantTempApproval/{{ value.id }} / {{ offer.id }}" method="POST">
        <button class="waves-effect waves-light btn" type="submit" style="background-color:#0040c1"style="margin-bottom:30px;"><i class="material-icons right">check</i>Approve Request</button>
      </form>
    </div>
      </div>
      
  
      </div> <!--end of card-->
      {% endfor %}
      
  
  
      
          </div>  <!--end of collapsible body section-->
  
        </li>
        {% endif %}
  
    </li>


    {% if approvedRequest %}
      
    <li>
      <div class="collapsible-header white-text red accent-4"><i class="material-icons">person_pin</i>View My
        {% if approvedRequest.tempApproval==True and approvedRequest.Status==False %} Temporarily Approved User
        {% elif approvedRequest.tempApproval==True and approvedRequest.Status==True %} Permanently Approved User
        {% endif %}
        </div>
      <div class="collapsible-body red lighten-2">  <!--start of second collapsible-->

        <div class="card" style="margin-bottom:50px;">
              

            <div class="card-action">
            <div class="row" style="padding:10px;">
              <div class="col l3">
                <h6><b>Request ID: </b> {{ approvedRequest.id }}</h6>
              </div>
  
              <div class="col l3">
                <h6><b>Username:</b> {{ approvedRequest.user.username }}</h6>
              </div>
  
              <div class="col l5">
                <h6><b>Contact Numer:</b> {{ approvedRequest.user.phoneNumber }}</h6>
              </div>
            
  
            <div class="col l6">
              <h6><b>City Address:</b> {{ approvedRequest.user.city }}</h6>
            </div>
          
  
          <div class="col l6">
            <h6><b>Preferred Meetup Location:</b> {{ approvedRequest.preferedLocation }}</h6>
          </div>
  
          <div class="col l12">
            <h6><b>Reason for use:</b> {{ approvedRequest.reasonForUse }}</h6>
          </div>
        </div>
  
        <div class="row" style="padding:10px;">
  
          <div class="col l3">
            <form action="/UserProfilePage/1" methods="GET">
        <button type="submit" class="waves-effect waves-light btn green darken-2"><i class="material-icons right">person</i>Visit Profile</button>
      </form>
      </div>
  
      
        <div class="col l7">
        <a class="waves-effect waves-light btn  deep-purple accent-4" style="background-color:#0040c1"><i class="material-icons right">close</i>Cancel Approval</a></div>
      </div>
    </div>
      
      <div class="card-action green lighten-4">
      <div class="row" style="padding:5px; margin-top:-30px">
      <div class="col s12">
       <h6> Please enter your start date:
        <div class="input-field inline">
          <input id="email_inline" type="text" class="datepicker">  
          <label for="email_inline">Start Date</label> </div> </h6>
         
          </div>

          <div class="col s12" style="margin-top:-30px">
            <h6> Please enter your end date:
             <div class="input-field inline">
               <input id="email_inline" type="text" class="datepicker"> 
               <label for="email_inline">End Date</label> </div></h6>
              
               </div>
        
        
        
        
            </div>

            
                <a class="waves-effect waves-light btn  red accent-4" style="background-color:#0040c1"style="margin-bottom:30px;"><i class="material-icons right">check</i>Grant Permanent Approval</a>
              
        </div>

         
  
      </div> <!--end of card-->
      

      



      </div>
    </li>

    {% endif %}
        
        
        
        
      </ul>
            
  
  
  
  
  
  
      
      </div>
    </div> <!--end of card-->
  
  
    {% endfor %}
    {% endif %}
    
  
  
  
  </div>
  </div>
  
  

</div> <!--end of container-->

<script>

document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    M.Collapsible.init(elems);
  });

  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.datepicker');
    M.Datepicker.init(elems);
  });
</script>

{% endblock %}