{% extends "layout2.html" %}
{% block title %}Pocket Exchange{% endblock %}
{% block page %}Pocket Exchange{% endblock %}

{{ super() }}

{% block content %}

<style>
    body{
    background-color: #0040c1;
}

h4{
  font-family: 'Frank Ruhl Libre', serif;
  font-weight:400;

}


@media screen and (max-width:600px) {
      
       #test{
        font-size: 8px;
       }

       #test1{
        font-size:8px;
        margin-top:20px;
       }

      
    }

</style>

<div class="container">

<h4 class="center white-text" style="margin-top:30px"> My Lending Offers </h4>

<div class="row">
<div class="col l2 offset-l5 s4 offset-s4 m4 offset-m4">
<img src="/static/images/box.png" class="responsive-img" style="margin-top:15px"> </div></div>

<!--start of offers will be displayed here-->




<div class="row">
    <div class="col l12 s12">
  
      {% if offers %}
  
      {% for offer in offers %}
      <div class="card" style="margin-bottom:90px;">
      <div class="card-action white-text" style="background-color:#66bb6a">
        {{offer.id}}.
      </div>
  
      <div class="card-content white">
        <!--main content will go in here-->
        <div class="row">
        <div class="col l4 m8 offset-m2 s10 offset-s1">
          <div class="card-image">
            {% if offer.imageURL==None %}
            <img src="/static/images/no-image.svg" class="responsive-img">
            {% else %}
          <img src="{{ offer.imageURL }}" class="responsive-img">
            {% endif %}
        </div>
        </div>
  
        <div class="col l8 m12 s12" style="color:black">
          <h6><b>Name:</b> {{offer.item}}</h6>
          <h6><b>Offered by:</b> {{offer.user.username}}</h6>
          <h6><b>Description:</b> {{offer.itemDescription}}</h6>
          <h6><b>Category:</b> {{offer.category}}</h6>
          <h6><b>Rules of Use:</b> {{offer.RulesOfUse}}</h6>
          <h6><b>Condition:</b> {{offer.condition}}</h6>
          <h6><b>Contact Number:</b> {{offer.user.phoneNumber}}</h6>
          <h6><b>City Address:</b> {{offer.user.city}}</h6>
          <h6><b>Preferred Meetup Location:</b> {{offer.preferedLocation}}</h6>
  
  
        </div>
      </div>  <!--end of first row-->
  
      <!-- collapsible items will go here now. The request list first, then the make a request
      section after-->
  
      <ul class="collapsible black-text">

        <!-- if we dont currently have either a temporarily or permanently approved user-->

        {% if offer.borrowRequestID==None %}
        <li>
          <div class="collapsible-header white-text" style="background-color: #0040c1;"><i class="material-icons">search</i>View Request List</div>
          <div class="collapsible-body blue lighten-3">
      
            {% for value in offer.lendingRequests %}
            <!--start of card item-->
            <div class="card" style="margin-bottom:50px;">
              
  
            <div class="row" style="padding:10px;">
              <div class="col l3">
                <h6><b>Request ID: </b> {{ value.id }}</h6>
              </div>
  
              <div class="col l3">
                <h6><b>Username:</b> {{ value.user.username }}</h6>
              </div>
  
              <div class="col l5">
                <h6><b>Contact Numer:</b> {{ value.user.phoneNumber }}</h6>
              </div>
            
  
            <div class="col l6">
              <h6><b>City Address:</b> {{ value.user.city }}</h6>
            </div>
          
  
          <div class="col l6">
            <h6><b>Preferred Meetup Location:</b> {{ value.preferedLocation }}</h6>
          </div>
  
          <div class="col l12">
            <h6><b>Reason for use:</b> {{ value.reasonForUse }}</h6>
          </div>
        </div>
  
        <div class="row" style="padding:10px;">
  
          <div class="col l3">
            <form action="/UserProfilePage/{{ value.borrowerID }}" methods="GET">
        <button id="test" type="submit" class="waves-effect waves-light btn green darken-2" style="margin-bottom:30px;"><i class="material-icons right">person</i>Visit Profile</button>
      </form>
      </div>
  
      
        <div class="col l3">
          <form action="/GrantTempApproval/{{ value.id }} / {{ offer.id }}" method="POST">
        <button id="test" class="waves-effect waves-light btn" type="submit" style="background-color:#0040c1"style="margin-bottom:30px;"><i class="material-icons right">check</i>Approve Request</button>
      </form>
    </div>
      </div>
      
  
      </div> <!--end of card-->
      {% endfor %}
      
  
  
      
          </div>  <!--end of collapsible body section-->
  
        </li>
        {% endif %}
  
    </li>


    <!-- if we DO have a temporarily or permanently approved user-->

    {% if offer.borrowRequestID %}
      
    <li>
      <div class="collapsible-header white-text red accent-4"><i class="material-icons">person_pin</i>View My
        {% for request in offer.lendingRequests %}
        {% if request.tempApproval==True and request.Status==False %} 
        {% set answer = 'Temporarily Approved User' %}

        {% elif request.tempApproval==True and request.Status==True %}
        {% set answer = 'Permanently Approved User' %}

        {% endif %}

        {{ answer }}

        {% if request.tempApproval==True and request.Status==False or request.tempApproval==True and request.Status==True %}
        
        </div>
      <div class="collapsible-body red lighten-2">  <!--start of second collapsible-->

        <div class="card" style="margin-bottom:50px;">
              

            <div class="card-action">
            <div class="row" style="padding:10px;">
              <div class="col l3">
                <h6><b>Request ID: </b> {{ request.id }}</h6>
              </div>
  
              <div class="col l3">
                <h6><b>Username:</b> {{ request.user.username }}</h6>
              </div>
  
              <div class="col l5">
                <h6><b>Contact Numer:</b> {{ request.user.phoneNumber }}</h6>
              </div>
            
  
            <div class="col l6">
              <h6><b>City Address:</b> {{ request.user.city }}</h6>
            </div>
          
  
          <div class="col l6">
            <h6><b>Preferred Meetup Location:</b> {{ request.preferedLocation }}</h6>
          </div>
  
          <div class="col l12">
            <h6><b>Reason for use:</b> {{ request.reasonForUse }}</h6>
          </div>
        </div>
  
        <div class="row" style="padding:10px;">
  
          <div class="col l3 m6 s12">
            <form action="/UserProfilePage/{{ request.borrowerID }}" methods="GET">
        <button id="test" type="submit" class="waves-effect waves-light btn green darken-2"><i class="material-icons right">person</i>Visit Profile</button>
      </form>
      </div>
  
        <!--could possible put some code here to make this button show or not show depending-->
        {% if request.tempApproval==True and request.Status==False %}
        <div class="col l7 m6 s12">
          <form action="/UnApproveTempApproval/{{ request.id }}" method="POST">
        <button id="test1" type="submit" class="waves-effect waves-light btn " style="background-color:#0040c1"><i class="material-icons right">close</i>Cancel Approval</button>
      </form></div>
      {% endif %}

      </div>
    </div>

    <!--start of green card action-->

      
      <div class="card-action green lighten-3">
      <div class="row" style="padding:5px; margin-top:-30px">
      <div class="col s12">
      
      <!--Basically means if you have not entered a date as yet-->
      {% if offer.borrowingDays==None %} 
        
        <form action='/ChangeStatus/{{ request.id }}/ {{ offer.id }}' method="POST">
       <h6> <b>Please enter your start date:
        <div class="input-field inline">
          <input required id="email_inline" name="borrowDate" class="datepicker">  
          <label for="startdate"></label> </div> </b> </h6>
         
          </div>

          <div class="col s12" style="margin-top:-30px">
            <h6> <b> Please enter your end date:
             <div class="input-field inline">
               <input required id="email_inline" name="returnDate" class="datepicker"> 
               <label for="email_inline"></label> </div> </b></h6>
              
               </div>
        
        
        
        
            </div>

                
                <button id="test" type="submit" class="waves-effect waves-light btn  red accent-4" style="background-color:#0040c1"style="margin-bottom:30px;"><i class="material-icons right">check</i>Grant Permanent Approval</button>
              </form>


        {% elif offer.borrowingDays!=None and offer.isReturned==False %}
         
        <div class="row" style="margin-top:30px">
          <div class="col s12 center">
            <img src="/static/images/hourglass.png" style="height:10vh"> 
            <h6 class="green-text text-darken-4"><b>Time left for the return of this item:</b></h6>
          </div>

            <div class="col s12">
            <h6 class="green-text text-darken-4" style="padding:10px"><b>Return Date:  {{ offer.returnDate }}</b></h6>
            <h6 class="green-text text-darken-4" style="padding:10px"><b>Days Remaining: {{ offer.borrowingDays }}</b></h6>

            {% if offer.borrowingDays<=-1 %}
            <h6 class="red-text text-accent-4" style="padding:10px"><b>This item is {{ offer.borrowingDays*-1 }} days overdue!</b></h6>
            {% endif %}

          </div>

        </div>

            <div class="row">
              <div class="col s12">
                <form action='/CheckisReturned/{{ offer.id }}' method="GET">
            <button id="test" type="submit" class="waves-effect waves-light btn red accent-4">Item Was Returned Successfully</button>
          </form>
          </div>
          </div>
          
        
        
        {% endif %}


        {% if offer.isReturned==True %}

        <div class="col s12">
        <div class="row" style="margin-top:15px">
          <div class="col l1 offset-l5 m2 offset-m5 s4 offset-s4">
      <img src="/static/images/check.png" class="responsive-img"></div>
    </div>

       <div class="row">
       <h6><b>Item was returned successfully. You can give this user a rating, restart your offer, or delete it. </b></h6>
      </div>

       <div class="row">
        <form action='/RestartOffer/{{ offer.id }}' method="GET">
        <button id="test" type="submit" class="waves-effect waves-light btn red accent-4"> <i class="material-icons right">replay</i>Restart</button>
        </form>
      </div>

      </div>
        {% endif %}
              
        </div>  <!--end of green card action-->

         

  
      </div> <!--end of card-->
      

      



      </div>
    </li>

    {% endif %}
    {% endfor %}
    {% endif %}
        
        
        
        
      </ul>
            
  
  
  
  
  
  
      
      </div>


      <div class="row">
        <div class="col l3 offset-l10 s6 offset-s7 m5 offset-m9" style="margin-bottom:20px">
          <form action='/removeLendingOffer{{ offer.id }}' method='POST'>
      <button type='submit' class="waves-effect waves-light btn"> Delete</button>
      </form>
    </div>
    </div>


    </div> <!--end of card-->
  
  
    {% endfor %}
    {% endif %}
    
  
  
  
  </div>
  </div>
  
  

</div> <!--end of container-->

<script>

document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    M.Collapsible.init(elems);
  });

  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.datepicker');
    M.Datepicker.init(elems,{
      format:'yyyy-mm-dd'
    });
  });
</script>

{% endblock %}