{% extends "layout2.html" %}
{% block title %}Pocket Exchange{% endblock %}
{% block page %}Pocket Exchange{% endblock %}

{{ super() }}

{% block content %}


<style>
    body{
        background-color:#0040c1;
    }


    h4{
        font-family: 'Frank Ruhl Libre', serif;
  font-weight:400;
    }
    
</style>


<div class="container">

    
<br>
<div class="row">
    <h4 class="center white-text">Notifications</h4>

    <div class="col l2 offset-l5  s4 offset-s4 m2 offset-m5">
   
    
    <img style="margin-top:10px" src="/static/images/bell.png" class="responsive-img">

  </div>
  </div>
    
    <br>

    <div class="row">

        <!--start of card-->

        {% if lendingNotifications %}
        {% for notification in lendingNotifications %}
      <div id="trending" class="card">
      
      <div id="trending_outer" class="card-action purple darken-3">
      
      </div>
      
        <div id="trending" class="card-action white" style="padding-bottom:25px">
          <div class="row" style="margin-bottom:-10px">
      <h6><b>Item Notification: </b> {{ notification.notification }} </h6>

      <form action="/DeleteLendingNotification/{{ notification.id }}" method="POST">
      <button type="submit" class="waves-effect waves-light btn right green darken-1">Delete</button>
    </form>
  </div>
      </div>
        
      </div> <!--end of card-->

    {% endfor %}
    {% endif %}




    {% if reportNotifications %}
        {% for notification in reportNotifications %}
      <div id="trending" class="card">
      
      <div id="trending_outer" class="card-action red accent-4">
      
      </div>
      
        <div id="trending" class="card-action white" style="padding-bottom:25px">
          <div class="row"style="margin-bottom:-10px">
      <h6><b>Report Notification: </b> {{ notification.notification }} </h6>

      <form action="/DeleteReportNotification/{{ notification.id }}" method="POST">
      <button type="submit" class="waves-effect waves-light btn right green darken-1">Delete</button>
    </form>
    
      </div>
    </div>
        
      </div> <!--end of card-->

    {% endfor %}
    {% endif %}

    


      



        
      

      


        
        
      
      </div> <!--end row --> 




</div>



{% endblock %}