{% extends "layout2.html" %}
{% block title %}Pocket Exchange{% endblock %}
{% block page %}Pocket Exchange{% endblock %}

{{ super() }}

{% block content %}


<style>
    body{
        background-color:#0040c1;
    }


    h4{
        font-family: 'Frank Ruhl Libre', serif;
  font-weight:400;
    }
    
</style>


<div class="container">

    
<br>
<div class="row">
    <h4 class="center white-text">Notifications</h4>

    <div class="col l2 offset-l5  s4 offset-s4 m2 offset-m5">
   
    
    <img style="margin-top:10px" src="/static/images/bell.png" class="responsive-img">

  </div>
  </div>
    
    <br>

    <div class="row">

        
      <div id="trending" class="card">
      
      <div id="trending_outer" class="card-action purple darken-3">
      
      </div>
      
        <div id="trending" class="card-action white" style="padding-bottom:25px">
      Notification number #1

      
      <a class="waves-effect waves-light btn right green darken-1">Delete</a>
    
      </div>
        
      </div>



      <div id="trending" class="card">
      
        <div id="trending_outer" class="card-action purple darken-3">
        
        </div>
        
          <div id="trending" class="card-action white" style="padding-bottom:25px">
        Notification number #1
  
        
        <a class="waves-effect waves-light btn right green darken-1">Delete</a>
      
        </div>
          
        </div>



        <div id="trending" class="card">
      
            <div id="trending_outer" class="card-action purple darken-3">
            
            </div>
            
              <div id="trending" class="card-action white" style="padding-bottom:25px">
            Notification number #1
      
            
            <a class="waves-effect waves-light btn right green darken-1">Delete</a>
          
            </div>
              
            </div>
      

      


        
        
      
      </div> <!--end row --> 




</div>



{% endblock %}