{% extends "layout.html" %}
{% block title %}Pocket Exchange{% endblock %}
{% block page %}Pocket Exchange{% endblock %}

{{ super() }}

{% block content %}

{% with messages = get_flashed_messages() %}
      {% if messages %}
      <nav class="white black-text" style="padding: 10px">
        <div class="nav-wrapper">
            <ul class="flashes">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
        </div>
      </nav>
      {% endif %}
    {% endwith %}

<style>
    
    #signup{
       height:160px;
    }

    body{
        background-color: #0C49CF;
    }
    
</style>


    <div class="row">

    <div class="col s12 m12 l12 center white" style="margin-top:10px">
        <h5 class="blue-text center"><b>Sign Up</b></h5>
        <img class="responsive-img" id="signup" src="/static/images/signup.svg">
        <div class="card center">
            <div class="card-action blue" style="padding-bottom:1px; padding-top: 0px;">
            
            <h5 class="white-text">Account Information</h5> </div>
        <div class="card-action white">

           <div class="row">
           <form class="col s12" action="/add_User_Page1" method="POST">

            

            <div class="row">
            <div class="input-field col s8">
            
                <input id="username" name="username" type="text" class="validate">
              <label for="username">Username</label> 
            </div>
        </div>

            
            <div class="row">
            <div class="input-field col s8">
            
                <input id="password" name="password" type="text" class="validate">
              <label for="password">Password</label> 
            </div>
        </div>
<div class="row">
            <div class="input-field col s6">
            <input id="firstName" name="firstName" type="text" class="validate">
          <label for="firstName">First Name</label>
          </div>

          <div class="input-field col s6">
            <input id="lastName" name="lastName" type="text" class="validate">
          <label for="lastName">Last Name</label>
          </div>
        </div>
            <div class="row">
            <div class="input-field col s8">
            
                <input id="email" name="email" type="text" class="validate">
              <label for="email">Email Address</label> 
            </div>
        </div>

            <div class="row">

            <button  class="blue btn waves-effect waves-light" type="submit">Next
                <i class="material-icons right">navigate_next</i>
              </button>
            
            </div>
        

           </form>



        </div>

        </div>

    </div>  <!--end card-->
</div>

    </div>

   
{% endblock %}