{% extends "layout2.html" %}
{% block title %}Pocket Exchange{% endblock %}
{% block page %}Pocket Exchange{% endblock %}

{{ super() }}

{% block content %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
  <div class="container">
    <h3>Trending Items</h3>
    <div class="row">
      {% for item in trendingList %}
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image">
            <img src="{{item.itemPic}}" alt="{{ item.itemPic}}" enctype="multipart/form-data">
            <span class="card-title">{{ item.Item_Name }}</span>
          </div>
          <div class="card-content">
            <p>{{item.requestCount}}</p>
          </div>
         <div class="card-action">
            <a href="/homepage" class="btn waves-effect waves-light">Check Item</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>



{% endblock %}